* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	transition: all .1s ease-in;
}

body {
    background-color: #3399CC;
	border: 15px solid #2B81AC;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    color: #FFF;
}

.list {
	width: 50%;
  	margin: 0 auto;
}

.list-header {
	padding: 40px 0 20px; 
}

h1 {
    font-weight: 500;
    font-size: 27px;
}

.city-list {
	list-style-type: none;
	border: 2px solid #FFF;
	font-size: 0;
  	background-color: #FFF;
}

footer {
	padding: 20px 0 10px;
}

.city-list:hover > li {
    opacity: .5;
}

.city-list li {
	display: inline-block;
	font-size: 20px;
	text-align: center;
    border: 2px solid #FFF;
    padding: 20px 0;
}

.city-list > li:hover {
    opacity: 1;
}

.city-list li.small-city {
	width: 25%;
}

.city-list li.big-city {
	width: 50%;
}

.city-list li.large-city {
	width: 100%;
}

.city-list li:nth-child(1) {
	background-color: #3399CC;
}

.city-list li:nth-child(2) {
	background-color: #33CCCC;
}

.city-list li:nth-child(3) {
	background-color: #996699;
}

.city-list li:nth-child(4) {
	background-color: #C24747;
}

.city-list li:nth-child(5) {
	background-color: #E2674A;
}

.city-list li:nth-child(6) {
	background-color: #FFCC66;
}

.city-list li:nth-child(7) {
	background-color: #99CC99;
}

.city-list li:nth-child(8) {
	background-color: #669999;
}

.city-list li:nth-child(9) {
	background-color: #CC6699;
}

.city-list li:nth-child(10) {
	background-color: #339966;
}

.city-list li:nth-child(11) {
	background-color: #666699;
}